.contactpage__container {
    padding: 60px 0 15px 100px;
}

.contactpage__container>.get_in_touch_title>h1 {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 40px;
    color: #ffe500;
    padding: 0 0 0 80px;
}

.contactpage__container>.contactus__box {
    width: fit-content;
    height: 500px;
    background-color: #505051;
    margin: 30px auto;
    padding: 30px 50px 30px 30px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    display: flex;
    gap: 3rem;
}

.contactpage__container>.contactus__box>.gmap {
    position: relative;
    border-bottom-left-radius: 50px;
    overflow: hidden;
}

.contactpage__container>.contactus__box>.gmap>span {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 30px;
    background-color: #505051;
    padding: 5px 12px;
}

.contactpage__container>.contactus__box>.contact_form>form input {
    border: none;
    outline: none;
    background-color: #949494;
    width: 250px;
    height: 38px;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 5px;
    padding-left: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.contactpage__container>.contactus__box>.contact_form>form textarea {
    width: 522px;
    height: 180px;
    border: none;
    outline: none;
    background-color: #949494;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 5px;
    padding: 15px 0 0 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.contactpage__container>.contactus__box>.contact_form>form .middle input {
    width: 100%;
}

.contactpage__container>.contactus__box>.contact_form>form input::placeholder,
.contactpage__container>.contactus__box>.contact_form>form textarea::placeholder {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: #ffe500;
    letter-spacing: 1px;
    font-weight: bold;
}

.contactpage__container>.contactus__box>.contact_form .top {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5rem;
}

.contactpage__container>.contactus__box>.contact_form {
    margin: auto 0;
}

.contactpage__container>.contactus__box>.contact_form>form {
    display: grid;
    grid-row-gap: 2rem;
}

.contactpage__container>.contactus__box>.contact_form>form button {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    height: 40px;
    background-color: #ffe500;
    color: black;
    font-size: 20px;
    border: none;
    font-weight: bolder;
    border-radius: 5px;
    letter-spacing: 1.5px;
    transition: 0.3s all ease-in-out 0s;
    cursor: pointer;
}

.contactpage__container>.contactus__box>.contact_form>form button:active {
    transition: 0.3s all ease-in-out 0s;
    transform: scale(0.97);
}

.contactpage__container>.footer__links {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 80px;
    font-weight: bold;
    font-size: 18px;
}

.contactpage__container>.footer__links .quick_links h4,
.contactpage__container>.footer__links .social_links h4 {
    padding: 0 0 20px 0;
    color: #ffe500;
}

.contactpage__container>.footer__links .social_links {
    margin: 0 50px 0 0;
}

.contactpage__container>.footer__links .social_links h4 {
    text-align: center;
}

.contactpage__container>.footer__links .quick_links a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px 0 0;
    font-weight: normal;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}

.contactpage__container>.footer__links .quick_links a:hover {
    color: #ffe500;
    font-weight: bold;
    transition: 0.2s all ease-in-out;
}

.contactpage__container>.footer__links {
    margin-bottom: 40px;
}

.contactpage__container>.footer__links .social_links a img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    transition: 0.2s all ease-in-out 0s;
}

.contactpage__container>.footer__links .social_links a:hover img {
    transform: scale(1.2);
    transition: 0.2s all ease-in-out 0s;
}

@media (min-width:320px) and (max-width: 540px) {
    .contactpage__container {
        padding: 30px 0 15px 0;
    }

    .contactpage__container>.get_in_touch_title>h1 {
        text-align: center;
        font-size: calc(2.5rem + 1vw);
        color: #ffe500;
        padding: 0;
    }

    .contactpage__container>.contactus__box {
        width: 300px;
        height: auto;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
        display: flex;
        padding: 20px;
        flex-direction: column;
        gap: 2rem;
    }

    .contactpage__container>.contactus__box>.gmap {
        display: none;
    }

    .contactpage__container>.contactus__box>.contact_form .top {
        display: grid;
        grid-template-columns: auto;
        gap: 1.5rem;
    }

    .contactpage__container>.contactus__box>.contact_form>form input {
        width: 100%;
    }

    .contactpage__container>.contactus__box>.contact_form>form textarea {
        width: 100%;
        height: 150px;
    }

    .contactpage__container>.footer__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin: 0;
    }

    .contactpage__container>.footer__links .social_links {
        margin: 0;
    }

    .contactpage__container>.footer__links .quick_links h4,
    .contactpage__container>.footer__links .social_links h4 {
        text-align: center;
        padding: 0 0 10px 0;
        color: #ffe500;
    }

}

@media (min-width:541px) and (max-width: 768px) {
    .contactpage__container {
        padding: 30px 0 15px 0;
    }

    .contactpage__container>.get_in_touch_title>h1 {
        text-align: start;
        font-size: calc(2.5rem + 1vw);
        color: #ffe500;
        padding: 0 0 0 50px;
    }

    .contactpage__container>.contactus__box {
        width: 75%;
        height: auto;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
        display: flex;
        padding: 20px;
        flex-direction: column;
        gap: 2rem;
    }

    .contactpage__container>.contactus__box>.gmap {
        display: none;
    }

    .contactpage__container>.contactus__box>.contact_form .top {
        display: grid;
        grid-template-columns: auto;
        gap: 1.5rem;
    }

    .contactpage__container>.contactus__box>.contact_form>form input {
        width: 100%;
    }

    .contactpage__container>.contactus__box>.contact_form>form textarea {
        width: 100%;
        height: 150px;
    }

    .contactpage__container>.footer__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin: 0;
    }

    .contactpage__container>.footer__links .social_links {
        margin: 0;
    }

    .contactpage__container>.footer__links .quick_links h4,
    .contactpage__container>.footer__links .social_links h4 {
        text-align: center;
        padding: 0 0 10px 0;
        color: #ffe500;
    }
}