.main__container {
  display: flex;
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, #313132, #2a2a2b, #232325, #1c1d1e, #161618);
  background-repeat: no-repeat;
}

.main__contents {
  background-image: linear-gradient(to right bottom, #313132, #2a2a2b, #232325, #1c1d1e, #161618);
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar:hover {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1d1e1e;
}

::-webkit-scrollbar-thumb {
  background-color: #ffe500;
  border-radius: 10px;
}