.aboutpage__container {
    padding: 50px 0 50px 100px;
}

.aboutpage__container>.aboutme_title>h1 {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 40px;
    color: #ffe500;
    padding: 0 0 0 80px;
}

.aboutpage__container>.aboutme__content {
    padding: 0 0 0 100px;
    display: flex;
    justify-content: flex-start;
    gap: 8rem;
    align-items: center;
    margin-top: -20px;
}

.aboutpage__container>.aboutme__content>.aboutme__anime {
    margin-left: 20px;
}

.aboutpage__container>.aboutme__content>.aboutme__anime>.anime {
    width: 400px;
    height: 400px;
}

.aboutpage__container>.aboutme__content>.aboutme__text {
    font-family: 'Overlock', cursive;
    font-size: 18px;
    font-weight: bold;
    width: 600px;
    letter-spacing: 1.5px;
    line-height: 35px;
}

.aboutpage__container>.qualifi__experience {
    padding: 20px 0 0 100px;
    display: flex;
    gap: 10rem;
}

.aboutpage__container>.qualifi__experience>.aca_qualifi>h1,
.aboutpage__container>.qualifi__experience>.job_exp>h1 {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.aboutpage__container>.qualifi__experience>.aca_qualifi>h1>span,
.aboutpage__container>.qualifi__experience>.job_exp>h1>span {
    color: #ffe500;
}

.aboutpage__container>.qualifi__experience>.aca_qualifi>.qualification,
.aboutpage__container>.qualifi__experience>.job_exp>.Job_experience {
    display: flex;
    gap: 1.5rem;
    font-family: 'Overlock', cursive;
}

.aboutpage__container>.qualifi__experience>.aca_qualifi>.qualification>.qualifi_text>h1,
.aboutpage__container>.qualifi__experience>.job_exp>.Job_experience>.job_desc>.job_text>h1 {
    font-size: 20px;
}

.aboutpage__container>.qualifi__experience>.aca_qualifi>.qualification>.qualifi_text>h4,
.aboutpage__container>.qualifi__experience>.job_exp>.Job_experience>.job_desc>.job_text>h4 {
    font-size: 16px;
}

.aboutpage__container>.qualifi__experience>.job_exp>.Job_experience {
    display: flex;
}

.aboutpage__container>.qualifi__experience>.job_exp>.Job_experience>.job_desc>p {
    width: 500px;
    margin-top: 10px;
    line-height: 28px;
    letter-spacing: .5px;
}


@media (min-width: 320px) and (max-width:540px) {
    .aboutpage__container {
        padding: 50px 0 50px 0;
    }

    .aboutpage__container>.aboutme_title>h1 {
        text-align: center;
        font-size: calc(2.5rem + 1vw);
        color: #ffe500;
        padding: 0;
    }

    .aboutpage__container>.aboutme__content {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        margin-top: -20px;
    }

    .aboutpage__container>.aboutme__content>.aboutme__anime {
        margin-left: 0;
    }

    .aboutpage__container>.aboutme__content>.aboutme__anime>.anime {
        width: 300px;
        height: 300px;
    }

    .aboutpage__container>.aboutme__content>.aboutme__text {
        font-family: 'Overlock', cursive;
        font-size: 18px;
        font-weight: bold;
        max-width: 80%;
        letter-spacing: 1.5px;
        line-height: 35px;
    }

    .aboutpage__container>.aboutme__content>.aboutme__text {
        font-size: calc(1rem + 1vw);
        font-weight: normal;
        width: 280px;
        letter-spacing: 1px;
        line-height: 30px;
    }

    .aboutpage__container>.qualifi__experience {
        padding: 40px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .aboutpage__container>.qualifi__experience>.aca_qualifi>h1,
    .aboutpage__container>.qualifi__experience>.job_exp>h1 {
        text-align: center;
        font-size: calc(1.3rem + 1vw);
        letter-spacing: 2px;
        margin-bottom: 30px;
    }

    .aboutpage__container>.qualifi__experience>.aca_qualifi>h1>span,
    .aboutpage__container>.qualifi__experience>.job_exp>h1>span {
        color: #ffe500;
    }

    .aboutpage__container>.qualifi__experience>.aca_qualifi>.qualification img,
    .aboutpage__container>.qualifi__experience>.job_exp>.Job_experience img {
        display: none;
    }

    .aboutpage__container>.qualifi__experience>.aca_qualifi>.qualification>.qualifi_text>h1,
    .aboutpage__container>.qualifi__experience>.job_exp>.Job_experience>.job_desc>.job_text>h1 {
        font-size: calc(0.8rem + 1vw);
        margin-bottom: 5px;
    }

    .aboutpage__container>.qualifi__experience>.aca_qualifi>.qualification>.qualifi_text>h4,
    .aboutpage__container>.qualifi__experience>.job_exp>.Job_experience>.job_desc>.job_text>h4 {
        font-size: calc(0.6rem + 1vw);
        margin-bottom: 20px;
    }

    .aboutpage__container>.qualifi__experience>.job_exp>.Job_experience>.job_desc>.job_text>h4 {
        width: 280px;
    }

    .aboutpage__container>.qualifi__experience>.job_exp>.Job_experience>.job_desc>p {
        width: 300px;
        margin-top: 10px;
        line-height: 28px;
        letter-spacing: .5px;
    }

}

@media (min-width:541px) and (max-width: 768px) {
    .aboutpage__container {
        padding: 50px 0 50px 0;
    }

    .aboutpage__container>.aboutme_title>h1 {
        text-align: start;
        font-size: calc(2.5rem + 1vw);
        color: #ffe500;
        padding: 0 0 0 50px;
    }

    .aboutpage__container>.aboutme__content {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        margin-top: -20px;
    }

    .aboutpage__container>.aboutme__content>.aboutme__anime {
        margin-left: 0;
    }

    .aboutpage__container>.aboutme__content>.aboutme__anime>.anime {
        width: 400px;
        height: 400px;
    }

    .aboutpage__container>.aboutme__content>.aboutme__text {
        font-family: 'Overlock', cursive;
        font-size: 18px;
        font-weight: bold;
        width: 80% !important;
        letter-spacing: 1.5px;
        line-height: 35px;
    }

    .aboutpage__container>.aboutme__content>.aboutme__text {
        font-size: calc(1rem + 1vw);
        font-weight: normal;
        width: 280px;
        letter-spacing: 1px;
        line-height: 30px;
    }

    .aboutpage__container>.qualifi__experience {
        padding: 40px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .aboutpage__container>.qualifi__experience>.aca_qualifi>h1,
    .aboutpage__container>.qualifi__experience>.job_exp>h1 {
        text-align: center;
        font-size: calc(2rem + 1vw);
        letter-spacing: 2px;
        margin-bottom: 30px;
    }

    .aboutpage__container>.qualifi__experience>.aca_qualifi>h1>span,
    .aboutpage__container>.qualifi__experience>.job_exp>h1>span {
        color: #ffe500;
    }

    .aboutpage__container>.qualifi__experience>.aca_qualifi>.qualification img,
    .aboutpage__container>.qualifi__experience>.job_exp>.Job_experience img {
        display: none;
    }

    .aboutpage__container>.qualifi__experience>.aca_qualifi>.qualification>.qualifi_text>h1,
    .aboutpage__container>.qualifi__experience>.job_exp>.Job_experience>.job_desc>.job_text>h1 {
        text-align: start;
        font-size: calc(1rem + 1vw);
        width: 300px;
        margin-bottom: 5px;
    }

    .aboutpage__container>.qualifi__experience>.job_exp>.Job_experience>.job_desc>.job_text>h1 {
        text-align: center;
        margin: 0 auto;
    }

    .aboutpage__container>.qualifi__experience>.aca_qualifi>.qualification>.qualifi_text>h4,
    .aboutpage__container>.qualifi__experience>.job_exp>.Job_experience>.job_desc>.job_text>h4 {
        text-align: start;
        font-size: calc(0.8rem + 1vw);
        margin-bottom: 20px;
    }

    .aboutpage__container>.qualifi__experience>.job_exp>.Job_experience>.job_desc>.job_text>h4 {
        width: 480px;
        margin: 10px auto;
    }

    .aboutpage__container>.qualifi__experience>.job_exp>.Job_experience>.job_desc>p {
        width: 70%;
        margin: 10px auto;
        line-height: 28px;
        letter-spacing: .5px;
    }
}