.aboutpage__container {
    min-height: 100vh;
    padding: 50px 0 50px 100px;
}

.aboutpage__container>.aboutme_title>h1 {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 40px;
    color: #ffe500;
    padding: 0 0 0 80px;
}

.aboutpage__container>.aboutme__content {
    padding: 0 0 0 100px;
    display: flex;
    justify-content: flex-start;
    gap: 8rem;
    align-items: center;
    margin-top: -20px;
}

.aboutpage__container>.aboutme__content>.aboutme__anime {
    margin-left: 20px;
}

.aboutpage__container>.aboutme__content>.aboutme__text {
    font-family: 'Overlock', cursive;
    font-size: 18px;
    font-weight: bold;
    width: 600px;
    letter-spacing: 1.5px;
    line-height: 35px;
}

.aboutpage__container>.qualifi__experience {
    padding: 20px 0 0 100px;
    display: flex;
    gap: 10rem;
}

.aboutpage__container>.qualifi__experience>.aca_qualifi>h1,
.aboutpage__container>.qualifi__experience>.job_exp>h1 {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.aboutpage__container>.qualifi__experience>.aca_qualifi>h1>span,
.aboutpage__container>.qualifi__experience>.job_exp>h1>span {
    color: #ffe500;
}

.aboutpage__container>.qualifi__experience>.aca_qualifi>.qualification,
.aboutpage__container>.qualifi__experience>.job_exp>.Job_experience {
    display: flex;
    gap: 1.5rem;
    font-family: 'Overlock', cursive;
}

.aboutpage__container>.qualifi__experience>.aca_qualifi>.qualification>.qualifi_text>h1,
.aboutpage__container>.qualifi__experience>.job_exp>.Job_experience>.job_desc>.job_text>h1 {
    font-size: 20px;
}

.aboutpage__container>.qualifi__experience>.aca_qualifi>.qualification>.qualifi_text>h4,
.aboutpage__container>.qualifi__experience>.job_exp>.Job_experience>.job_desc>.job_text>h4 {
    font-size: 16px;
}

.aboutpage__container>.qualifi__experience>.job_exp>.Job_experience>.job_desc>p {
    width: 500px;
    margin-top: 10px;
    line-height: 28px;
    letter-spacing: .5px;
}

.aboutpage__container>.qualifi__experience>.job_exp>.Job_experience {
    display: flex;
}